<div class="modal fade" id="editAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editAuthorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAuthorLabel">Додати автора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" v-if="changeAuthor !=null">
                    <label for="lastName">Прізвище:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required v-model="changeAuthor.lastName">
                    <label for="firstName">Ім'я:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required v-model="changeAuthor.firstName">
                    <label for="patronymicName">По батькові:</label>
                    <input type="text" class="form-control" id="patronymicName" name="patronymicName" required v-model="changeAuthor.patronymicName">
                    <button v-if="this.changeAuthor.id != ''" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editBooks">Редагувати книги</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="Save()">Зберегти</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAuthorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAuthorLabel">Видалення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>
                    Ви дійсно хочете видалити автора:
                    <strong v-if="changeAuthor"> {{changeAuthor.lastName}} {{changeAuthor.firstName[0]}}.{{changeAuthor.patronymicName[0]}}.</strong>
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button v-on:click="DeleteAuthor()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Видалити</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="previewAuthor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="previewAuthorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewAuthorLabel">Перегляд автора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" v-if="changeAuthor !=null">
                    <label for="lastName">Прізвище:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" disabled v-model="changeAuthor.lastName">
                    <label for="firstName">Ім'я:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" disabled v-model="changeAuthor.firstName">
                    <label for="patronymicName">По батькові:</label>
                    <input type="text" class="form-control" id="patronymicName" name="patronymicName" disabled v-model="changeAuthor.patronymicName">
                    <br />
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#previewBooks">Переглянути книги</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

@*editBooks*@
<div class="modal fade" id="editBooks" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editBooksLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBooksLabel">Додати книгу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" v-if="changeAuthor">
                    <div class="row">
                        <div class="col-5">
                            <strong>Назва книги</strong>
                        </div>
                        <div class="col-3">
                            <strong>Кількість сторінок</strong>
                        </div>
                        <div class="col-3">
                            <strong>Жанр</strong>
                        </div>
                        <div class="col-1">
                            <strong>Видалити</strong>
                        </div>
                    </div>
                    <div class="row book-line" v-for="book in changeAuthor.books">
                        <div class="col-5">
                            <input type="text" class="form-control" v-model="book.title">
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" v-model.number="book.numberOfPages" required>
                        </div>
                        <div class="col-3">
                            <select class="form-select" v-model="book.genre">
                                <option disabled value="0">Виберіть жанр</option>
                                <option value="1">Романтика </option>
                                <option value="2">Детективи </option>
                                <option value="3">Поеми </option>
                                <option value="4">Фантастика </option>
                                <option value="5">Історичні </option>
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-space" v-on:click="BookDel(book)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" v-on:click="AddBook()">Додати книгу</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="BookSave()">Зберегти</button>
            </div>
        </div>
    </div>
</div>


@*previewBooks*@
<div class="modal fade" id="previewBooks" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="previewBooksLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewBooksLabel">Перегляд книг</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" v-if="changeAuthor">
                    <div class="row">
                        <div class="col-5">
                            <strong>Назва книги</strong>
                        </div>
                        <div class="col-3">
                            <strong>Кількість сторінок</strong>
                        </div>
                        <div class="col-3">
                            <strong>Жанр</strong>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row book-line" v-for="book in changeAuthor.books">
                        <div class="col-5">
                            <input type="text" class="form-control" v-model="book.title" disabled>
                        </div>
                        <div class="col-3">
                            <input type="number" class="form-control" v-model.number="book.numberOfPages" disabled>
                        </div>
                        <div class="col-3">
                            <select class="form-select" v-model="book.genre" disabled>
                                <option disabled value="0">Без жанру</option>
                                <option value="1">Романтика </option>
                                <option value="2">Детективи </option>
                                <option value="3">Поеми </option>
                                <option value="4">Фантастика </option>
                                <option value="5">Історичні </option>
                            </select>
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

@*showGenre*@
<div class="modal fade" id="showGenre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="showGenreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showGenreLabel">Додати автора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group" v-if="changeAuthor !=null">
                    <label for="lastName">Прізвище:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required v-model="changeAuthor.lastName">
                    <label for="firstName">Ім'я:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required v-model="changeAuthor.firstName">
                    <label for="patronymicName">По батькові:</label>
                    <input type="text" class="form-control" id="patronymicName" name="patronymicName" required v-model="changeAuthor.patronymicName">
                    <button v-if="this.changeAuthor.id != ''" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editBooks">Редагувати книги</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="Save()">Зберегти</button>
            </div>
        </div>
    </div>
</div>