@model List<AuthorModel>
<div class=" container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#authors" type="button" role="tab" aria-controls="authors" aria-selected="true">Автори</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#genres" type="button" role="tab" aria-controls="genres" aria-selected="false">Жанри</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="authors" role="tabpanel" aria-labelledby="authors-tab">
            <h1>Список авторів</h1>
            <partial name="_TableAuthors" />
            
        </div>
        <div class="tab-pane fade" id="genres" role="tabpanel" aria-labelledby="genres-tab">
            <h1>Жанри</h1>
            <partial name="_TableGenres" />
            
        </div>
    </div>
</div>
<partial name="_Form" />